<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Portfolier{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <h1><a href="/">Portfolier</a></h1>

            {% if logged is defined %}
                <form name="logout-form" method="post" action="/logout/">
                    <b>{{ logged.getName }}</b>
                    <input type="submit" name="logout" value="Logout">
                </form>
            {% endif %}

            <a href="{{ path('portfolios') }}">Portfolios</a>
        {% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
